body, html {
  height: 100%;
}
.body {
  font-family: 'Roboto', Arial, sans-serif;     
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42em;
}
body, html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.wrapper  {
  min-width: 1200px;
  overflow: hidden;
  min-height: calc(100vh - 92px);
}